<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask + SQLAlchemy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Количество шагов</h1>

    <div id="totalPanel" class="total-panel">
        <h3>Общее количество шагов</h3>
        <div id="totalSteps">0</div>
    </div>

    <form id="stepForm">
        <input type="date" id="date" name="date" placeholder="Дата" required>
        <input type="number" id="steps" name="steps" placeholder="Количество шагов" required>
        <button type="submit">Добавить</button>
    </form>
    <ul id="stepList"></ul>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
